.App {
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
}

.App-header {
  background-color: #0b0d11;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(15px);
  color: rgb(255, 255, 255);
}

button {
  height: 50px;
  width: 100px;
  color: #0b0d11;
  background-color: yellow;
}